<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.taurusx.ads.demo">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />

    <application
        android:name=".application.TaurusApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.taurusx.ads.demo.activitys.MediationListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.LoadModeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.MediationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.BannerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.NativeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.InterstitialActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.RewardedVideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.FeedListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.SplashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.taurusx.ads.demo.mixad.MixViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taurusx.ads.demo.mixad.MixFullScreenActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.AdContainerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.AdapterTestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.ListViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.RecyclerViewActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.sigmob.sdk.SigmobXFileProvider"
            android:authorities="${applicationId}.sigprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/sigmob_provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <meta-data
            android:name="applovin.sdk.key"
            android:value="qTA2uuo2zUQLXHPGDPooTJLZprJIiR6HDcHEgaJq24ErXVwNTqt73MlOFEssXOL9Q1RIFDlR1136N8uhTlthKc" />

        <!-- DU Ad Platform 配置 -->
        <meta-data
            android:name="app_license"
            android:value="162025bb97c64772b2288919d51b0250" />

        <!-- 调试模式 -->
        <meta-data
            android:name="i-mobile_DebugLogging"
            android:value="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

    </application>
</manifest>
