<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.taurusx.ads.demo">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />

    <!-- AdColony Optional Permission -->
    <!-- 此权限用于某些允许用户将屏幕截图保存到手机的广告。-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 此权限用于在播放过程中振动的某些广告。 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".TaurusXApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.taurusx.ads.demo.activitys.home.NetworkActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.home.LoadModeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.home.AdapterTestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.adapter_ads.ListViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.adapter_ads.RecyclerViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.adtype.AdTypeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.adtype.BannerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.adtype.NativeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.adtype.InterstitialActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.adtype.RewardedVideoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.adtype.FeedListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.adtype.SplashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.adtype.ChooseSplashActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.adtype.MixViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.taurusx.ads.demo.activitys.adtype.MixFullScreenActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:node="replace">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <!-- AppLovin Key -->
        <meta-data
            android:name="applovin.sdk.key"
            android:value="qTA2uuo2zUQLXHPGDPooTJLZprJIiR6HDcHEgaJq24ErXVwNTqt73MlOFEssXOL9Q1RIFDlR1136N8uhTlthKc" />

        <!-- DU Ad Platform App License -->
        <meta-data
            android:name="app_license"
            android:value="162025bb97c64772b2288919d51b0250" />

        <!-- i-mobile Debug Log -->
        <meta-data
            android:name="i-mobile_DebugLogging"
            android:value="true" />

        <!-- Tuia App key、App Secret -->
        <meta-data
            android:name="TUIA_APPKEY"
            android:value="4UycwwZv41rwzne1ZXgtQBgDSnPH" />
        <meta-data
            android:name="TUIA_APPSECRET"
            android:value="3WpyTLfifQyGhvgivxtUjvzXxtkzdceETBU2n5g" />

        <provider
            android:name="com.tencent.klevin.utils.FileProvider"
            android:authorities="${applicationId}.klevin.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/klevin_provider_paths" />
        </provider>

        <!-- YKY AppId-->
        <meta-data
            android:name="Klevin.AppId"
            android:value="30008" />

        <!-- SAN AppKey -->
        <meta-data
            android:name="com.san.APP_KEY"
            android:value="42195f94-54b3-4cff-8418-9d6e92dff521" />

    </application>
</manifest>